# Virtual Environment
medical_chatbot/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# VS Code
.vscode/

# Log files
*.log

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data Source
data/